<md-button ng-click="cmiMenuItem.toggleDropdownMenu()" class="md-raised md-primary side-menu-link">
    <md-icon ng-if="::(cmiMenuItem.item.icon !== undefined)" class="side-menu-icon" md-font-icon="{{::cmiMenuItem.item.icon}}"></md-icon>
    <span translate>{{::cmiMenuItem.item.name}}</span>
    <md-icon class="menu-toggle-icon" md-font-icon="zmdi zmdi-chevron-right" ng-class="{ open: cmiMenuItem.item.open }"></md-icon>
</md-button>
<ul class="drop-down-list" ng-show="cmiMenuItem.item.open">
    <li ng-repeat="child in cmiMenuItem.item.children">
        <cmi-menu-item item="::child"></cmi-menu-item>
    </li>
</ul>